.searchForm,
.searchForm input,
.searchForm button {
	font-size: 1.2rem;
	display: flex;
	align-items: center;
	padding: 0.5rem;
	color: black;
}

.searchForm input,
.searchForm button {
	background-color: rgb(243, 243, 243);
	border: 3px solid #818181;
	border-radius: 17px;
}

.searchForm button {
	margin-left: 15px;
	
}



